---
---

@import "{{ site.theme }}";
a {
    img.social {
        width: 25px;
        object-fit:cover;
        padding: 5px;
    }
}
div.social {
    text-align: center;
}

.wrapper {
    width: 950px;
    position: relative;
    .headwrapper {
        position: fixed;
        width: 270px;
        top: 50px;
        bottom: 25px;
        overflow: hidden;
        @media print, screen and (max-width: 960px) {
            position: static;
            width: auto;
        }
        header {
            position: absolute;
            overflow-y: scroll;
            top: 0;
            bottom: 0;
            box-sizing: content-box;
            padding-right: 17px;
            @media print, screen and (max-width: 960px) {
                width: 100%;
                position: static;
            }
            .container {
                text-align: center;
                position: relative;
                img.logo {
                    width: 150px;
                    border-radius: 50%;
                }
                .overlay {
                    position: absolute;
                    bottom: 0px;
                    background: rgba(white, 0.8);
                    height: 20%;
                    width: 100%;
                }
            }
        }
    }

    footer {
        bottom: 10px;
        p {
            margin: 0px;
        }
    }

    section {
        width: 650px;   
        padding-bottom: 11px;
        @media print, screen and (max-width: 960px) {
            width: 100%;
        }

        .interests {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            width: 100%;
            .interest {
                display: inline-block;
                flex: 1;
                min-width: 40%;
                text-align: center;
                margin: 5%;
                @media print, screen and (max-width: 720px) {
                    min-width: 90%;
                }

                img {
                    margin-bottom: 40px;
                }

                h2 {
                    margin-bottom: 5px;
                }
            }
        }

        .skills {
            .tags {
                list-style: none;
                margin: 0;
                overflow: hidden; 
                padding: 0;
            }
              
            .tags li {
                float: left; 
            }
              
            .tag {
                background: #eee;
                border-radius: 3px 0 0 3px;
                color: #999;
                display: inline-block;
                height: 26px;
                line-height: 26px;
                padding: 0 20px 0 23px;
                position: relative;
                margin: 0 10px 10px 0;
                text-decoration: none;
                transition: color 0.2s ease;
            }
              
            .tag::before {
                background: #fff;
                border-radius: 10px;
                box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
                content: '';
                height: 6px;
                left: 10px;
                position: absolute;
                width: 6px;
                top: 10px;
            }
              
            .tag::after {
                background: #fff;
                border-bottom: 13px solid transparent;
                border-left: 10px solid #eee;
                border-top: 13px solid transparent;
                content: '';
                position: absolute;
                right: 0;
                top: 0;
            }
              
            .tag:hover {
                background-color: #267CB9;
                color: white;
            }
              
            .tag:hover::after {
                border-left-color: #267CB9; 
            }
        }

        .separator {
            margin: 10px 20px 0px 20px;
            border: 1px solid #267CB9;
            background-color: #267CB9;
        }

        .projects {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            width: 100%;
        }

        .project {
            min-width: 46%;
            margin: 1%;
            display: inline-block;
            flex: 1;
            position: relative;
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,.16);
            @media print, screen and (max-width: 720px) {
                min-width: 90%;
            }
            .banner {
                position: relative;
                border: 1px;
                h3 {
                    position: absolute;
                    bottom: 0px;
                    width: 97%;
                    padding: 10px 5px 10px 5px;
                    background: rgba($color: white, $alpha: 0.8);
                    margin: 0px;
                    z-index: 1;
                }
                .proj-pic {
                    overflow: hidden;
                    display: inline-block;
                    img {
                        width: 100%;
                        transition: transform .25s ease;
                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }
            hr {
                margin-top: 10px;
                margin-bottom: 0px;
            }
            p {
                padding: 0px 10px 0px 10px;
                margin-bottom: 50px;
            }
            .project-links {
                position: absolute;
                bottom: 0px;
                margin-bottom: 10px;
                margin-left: 10px;
                .project-link {
                    color: #494949;
                    font-size: 25px;
                    padding: 5px;
                    text-decoration: none;
                }
            }
        }

        $gray: rgb(233, 231, 232);
        $text: rgb(51, 51, 51);
        $spacing: 20px;
          
        .github-cards {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            width: 100%;

            .github-card {
                position: relative;
                display: block;
                box-sizing: border-box;
                border-radius: 20px;
                background-color: $gray;
                box-shadow: 1px 1px 2px 1px rgba(0,0,0,.16);
                margin: $spacing/2;
                padding: $spacing;
                color: $text;
                text-decoration: none;
                font-size: 13px;
                flex: 0;
                min-width: 30%;
                @media print, screen and (max-width: 720px) {
                    min-width: 90%;
                }

                &:hover, &:focus {
                    font-weight: normal;
                }
            
                > h3 {
                    margin-top: 0;
                    font-size: 15px;
                }

                .github-meta-card {
                    position: absolute;
                    bottom: 0px;
                    margin-bottom: 10px;
                }

                .github-card__meta {
                    margin-right: $spacing/2;
                
                    > i {
                    font-size: 16px;
                    }
                }
            }
          
            
        }
    }
}

